<%= form_tag(posts_path, method: "get") do %> 
  <select name="category" class="form-control">
    <option value="title">제목</option>
    <option value="writer">작성자</option>
  </select>

  <%= label_tag(:div, "검색 단어 :") %>
  <%= text_field_tag(:search_text) %> 
  <%= submit_tag("검색") %>
<% end %>